:root {
    box-sizing: border-box;
    font-size: 1.125em;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: sans-serif;
}

body > header {
    background-color: black;
}

body > header h1, body > header h2 {
    display: inline-block;
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.2em 0;
}

body > header h1::before {
    display: inline-block;
    content: '';
    vertical-align: text-top;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    margin-right: 0.1em;
    background-image: url('/img/icon.jpg');
    background-size: cover;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}


article > section h1 {
    font-size: 1.2em;
}

section.proof h1 {
    font-size: 1em;
}

section.proof:after {
    display: block;
    content: '∎';
}

body > article, body > nav, body > p, body > header > hgroup {
    max-width: 52rem;
    margin: 0 auto;
}

body > p {
    margin-top: 1em;
    margin-bottom: 1em;
}

blockquote {
    margin: 1em 0;
    padding: 0.1em 0.5em;
    background-color:lightgray;
    border-radius: 0.5em;
}

em {
    font-weight: bold;
    font-style: normal;
}

blockquote > p:last-child {
    text-align: right;
}